<nav class="navbar navbar-dark navbar-expand-lg navbar-light m-0" style="background-color: #263238;">
  <a class="navbar-brand" href="#">COMPSCRIPT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="nav-link" href="#">
          <label for="upload" class="mt-2 btn btn-block btn-dark">Cargar Archivo</label>
          <input
            type="file"
            #tySubida
            id="upload"
            name="cstSubida"
            style="display: none"
            accept="application,.cst"
            (input)="upload($event)"
          />
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row vh-80 justify-content-center align align-items-center pt-3">
  <div class="col-12">
    <dx-toolbar class="moduleToolbar" [items]="buttons"></dx-toolbar>
    <div class="default">
      <dx-tab-panel style="height: 55vh;"
        [dataSource]="Pestanas"
        [selectedIndex]="0"
        [loop]="false"
        [animationEnabled]="true"
        [showNavButtons]="true"
        [swipeEnabled]="false"
        (onSelectionChanged)="seleccionarPestana($event)"
        [selectedIndex]="NumTab">
        <div *dxTemplate="let element of 'title'">
          <span>{{ element.name }}</span><i *ngIf="showCloseButton()" class="dx-icon dx-icon-close mr4" (click)="removerPestana()"></i>
        </div>
        <div *dxTemplate="let element of 'item'">
          <div class="row h-100" style="margin: 0px; padding: 0px;">
            <div class="col-6 h-100" style="margin: 0px; padding: 0px; padding-right: 5px;">
              <ngx-codemirror
              style="margin: 0px; padding: 0px;"
              [(ngModel)]="element.content"
              (ngModelChange) = "LlenarContent(element.content)"
              [options]="{
                theme: 'material',
                mode: 'javascript',
                lineNumbers: true,
                styleActiveLine: true,
                lineWrapping: true,
                columnNumbers:true,
                foldGutter: true,
                gutter: true,
                gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
                autoCloseBrackets: true,
                autocapitalize: true,
                matchBrackets: true
              }"
              ></ngx-codemirror>
            </div>
            <div class="col-6 h-100" style="margin: 0px; padding: 0px;">
              <ngx-codemirror
              style="margin: 0px; padding: 0px;"
              [(ngModel)]="CONSOLA"
              [options]="{
                theme: 'material',
                mode: 'go',
                readOnly: true,
                lineNumbers: true,
                lineWrapping: true,
                foldGutter: true,
                gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter', 'CodeMirror-lint-markers'],
                autoCloseBrackets: true,
                matchBrackets: true
              }"
              ></ngx-codemirror>
            </div>
          </div>
        </div>
      </dx-tab-panel>
      <div class="row mt-4">
        <div class="col-6 scroll">
          <table class="table diseñoTabla table-dark">
            <thead style="background-color: #2a2a2a;">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fila</th>
                <th scope="col">Columna</th>
                <th scope="col">Ambito</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let simbolo of simbolos">
                <td>{{ simbolo.numero }}</td>
                <td>{{simbolo.ID}}</td>
                <td>{{ simbolo.grupo }}</td>
                <td>{{ simbolo.tipo }}</td>
                <td>{{ simbolo.fila }}</td>
                <td>{{ simbolo.columna }}</td>
                <td>{{ simbolo.ambito }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6 scroll">
          <table class="table diseñoTabla table-dark">
            <thead style="background-color: #2a2a2a;">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fila</th>
                <th scope="col">Columna</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let error of errores">
                <td>{{ error.numero }}</td>
                <td>{{ error.tipo }}</td>
                <td>{{ error.descripcion }}</td>
                <td>{{ error.fila }}</td>
                <td>{{ error.columna }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

