.App-header {
  background-color: #282b31;
  min-height: 100vh;

}

.editores{
  display:flex;
  flex-direction: 'row';
  
}

.texteditor {
  border : 10px solid;
  border-color: #1e1f1f;
  border-radius: 15px;
  
}
.consola{
  width: 600px;
  height: 375px;
  border : 10px solid;
  border-color: #1e1f1f;
  border-radius: 15px;
  text-align:left;
  background-color: #1e1f1f;
  color: white;
  font-family: "Lucida Console";
  font-size: 15px;
  resize: none;
}
.espacio {
  width: 20px;
}